.news{
    background: var(--section-background-clr);
    z-index: 2;
    text-align: center;
    padding-top: 5rem;
}

.news-title-container{
    position: relative;
    display: inline-block;
}

/*#############################
########### HEARTS ############
#############################*/

.news-title-hearts{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: unset;
    z-index: 5;
    pointer-events: none;
    transform: translate(-32%, -50%);
}

.news-hearts-left,
.news-hearts-right{
    display: none;
    position: absolute;
    left: -10%;
    bottom: 5%;
    transform: translateX(-100%);
}

.news-hearts-right{
    left: unset;
    bottom: unset;
    top: 13%;
    right: -10%;
    transform: translateX(100%);
}

@media(min-width: 1400px){
    .news-hearts-left,
    .news-hearts-right{
        display: block;
    }
}

/*################################
######## SCROLL WINDOW ###########
#################################*/

.news-scroll-container{
    position: relative;
    padding: 1rem 1rem 1rem 0rem;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(5px 8.66px 27px rgba(0,0,0,0.12));
    border: 3px solid #ddd4e8;
}

.news-scroll-container::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 2.7rem;
    height: 20%;
    z-index: 1;
    pointer-events: none;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
}

.news-scroll{
    position: relative;
    max-height: 86rem;
    overflow-y: scroll;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

@media(min-width: 768px){
    .news-scroll{
        padding: 0rem 7rem 0rem 3rem;
    }
}



.news-scroll::-webkit-scrollbar{
    width: 7px;
    border-radius: 3px;
    background-color: #e5e5e5;
}

.news-scroll::-webkit-scrollbar-thumb{
    background-color: #662c91;
    border-radius: 4px;
}

.news-article{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0rem;
}

@media(min-width: 768px){
    .news-article{
        flex-direction: row;
    }
}

.news-article::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--news-article-separator-clr);
}

.news-article:last-of-type::after{
    content: none;
}

.news-content{
    text-align: left;
}

.news-image{
    width: 75%;
    border-radius: 7px;
    filter: drop-shadow(0 0 7.5px rgba(0,0,0,0.36));
    overflow: hidden;
}
@media(min-width: 768px){
    .news-image{
        width: 70%;
    }
}

.news-image img{
    width: 100%;
    border-radius: 7px;
}